* {
  margin: 0;
  border: 0;
}

body {
  background: #c4c4c4;
}

header {
  background: #ff9393;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0;
}

.iP {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addItem {
  width: 800px;
  margin-top: 29px;
  display: inline-flex;
  justify-content: space-between;
}

input {
  width: 599px;
  height: 69px;
  background: #c2c2c2;
  box-shadow: 0 0 10px #000;
  border-radius: 5px;
  font-size: 36px;
}

.go {
  width: 158px;
  height: 69px;
  background: #c2c2c2;
  box-shadow: 0 0 10px #000;
  border-radius: 5px;
  font-size: 36px;
}

.itemList {
  height: 70vh;
  width: 800px;
  background: #c4c4c4;
  box-shadow: 0 0 20px #000;
  border-radius: 5px;
  margin-top: 30px;
}

.task {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.taskTitle {
  padding: 5px;
}

.taskRemove {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: red;
}
